<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.button {

  background: -webkit-linear-gradient(left, #069754, #32eb9e);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}

.head {
  min-height: 60vh;
  background:  -webkit-linear-gradient(left, #069754, #32eb9e);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 350px;
  margin-top: 0px;
}

@media only screen and (max-width: 600px)
{
  .head{
      min-height: 70vh;
    }
    .profile-pic{
      margin-top: 3%;
    }
}

.details {
  text-align: center;
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

@media only screen and (min-width: 600px)
{
  .myCol{
      width: 10rem;
    }
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}
</style>
</head>
<body>

  {{>userHeader}}

<div>
  <section class="profile">
  <header class="head">
    <div class="details">
      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="John Doe" class="profile-pic">
      <h1 class="heading" style="text-transform: capitalize;">{{n}}</h1>
      <div class="location">
        
        <p>{{add}}</p>
      </div>
      <div class="row">
        <div class="col-sm-4 myCol">
          <h4>{{earned}}</h4>
          <p>Coins earned</p>
        </div>
        <div class="col-sm-4 myCol">
          <h4>{{spent}}</h4>
          <p>Redeemed</p>
        </div>
        <div class="col-sm-4 myCol">
          <h4>{{rem}}</h4>
          <p>Coins  left</p>
        </div>
      </div>
      <div class="location">
        
    {{!-- <button class="button">Sell</button> --}}
    <a href="/sell">  <p><button class="button"> Sell</button></p></a>
      </div>
    </div>
  </header>
</section>
</div>

{{>footer}}

</body>
</html>


{{!-- 

<section class="profile">
  <header class="header">
    <div class="details">
      <img src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b38c22a46932485790a3f52c61fcbe5a" alt="John Doe" class="profile-pic">
      <h1 class="heading">Claire Doe</h1>
      <div class="location">
        
        <p>Greennagar , PInkpoor</p>
      </div>
      <div class="stats">
        <div class="col-4">
          <h4>20</h4>
          <p>Coins earned</p>
        </div>
        <div class="col-4">
          <h4>10</h4>
          <p>REdeemed</p>
        </div>
        <div class="col-4">
          <h4>100</h4>
          <p>Coins  left</p>
        </div>
      </div>
      <div class="location">
        
    <button class="button">Sell</button>
      </div>
    </div>
  </header>
</section> --}}